.topo{	
	background-color:black;
	/*background-size: 1650px 180px;*/
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	color: white;
	height: 200px;
}
#fundo1{
	text-align: center;
	background-color: black;
	width: 100%

}
.name1{
	float:left;
	margin-left: 1000px;
	margin-top:100px;
}
.nameprof{
	font-family: 'Merriweather', serif;
	margin-left: 120px;
}
.backmid{

}

.text1{
	margin-left: 450px;

}
#fundo{
	position: fixed;
	height: 600px;
	width: 1600px;
}
.mfoto{
	margin-top: -7%;
}
.fundomeio{

	background-image: url("backmid.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 530px;
}
.card1{
	float:left;
	margin-left: 15%;
}
.textPerfil{
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
}
.Texto{
	margin-left: 15%;
}
.card2{
	float: left;
	margin-left: 15%;
}
.hobby{
	margin-left: 16%;
}